<% provide(:title, "New Transaction") %>

<h1>New Transaction</h1>
<h2>Please enter an IC number</h2>
<%= form_for(@product, url: new_transaction_path) do |f| %>
    <%= f.label :IC_Number %>
    <%= f.text_field :ic, class: 'form-control' %><br>
    <center>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </center><br>
<% end %>