<footer class="footer">
  <small>
    <a href="http://www.fgcu.edu">Hertz Rental Equipment Electronic Storage</a>
    by <a href="#">Team 3 - Rabeet Fatmi, Lloyd Gibson, Brent Oliver, Stefan Oswald.</a>
  </small>
  <nav>
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</footer>